version: "3.7"
# Use --compatibility flag with "docker-compose up" for deploy key translation

services:

  cardano_node:
    container_name: cardano_node
    environment:
      CNODE_HOSTNAME: 'CHANGE ME'
    image: cardano_node:latest
    command: ["start-relay.sh"]           # Comment for node producer or relay with topology updater
    #command: ["start-with-topology.sh"]  # Uncomment for relay with topology updater
    #command: ["start-producer.sh"]       # Uncomment for node producer
    #command: ["tail","-f","/dev/null"]   # Used for maintenance purpose
    volumes:
      - type: volume
        source: cardano-socket
        target: /cardano/socket
      - type: volume
        source: cardano-db
        target: /cardano/db
      - type: bind
        source: ./config
        target: /cardano/config
        read_only: true
    network_mode: host
    restart: on-failure
    stop_grace_period: 10s
    logging:
      driver: "journald"
    deploy:
      resources:
        limits:
          cpus: '3'
          memory: 6G

  cardano_monitor:
    container_name: cardano_monitor
    image: cardano_monitor:latest
    command: ["start-monitoring.sh"]
    depends_on:
      - cardano_node
    network_mode: host
    restart: on-failure
    stop_grace_period: 10s
    logging:
      driver: "journald"

volumes:
  cardano-db:
  cardano-socket:
